body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'Arial, sans-serif';
}

.app {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #1E1E1E;
  border-radius: 8px;
}

.title {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

.login, .new-habit {
  margin-bottom: 20px;
  text-align: center;
}

.input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #3E3E3E;
  color: #FFFFFF;
  margin-right: 10px;
}

.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.habit-card {
  background-color: #2E2E2E;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.habit-name {
  color: whitesmoke;
}

.habit-progress {
  color: rgb(206, 204, 204);
}

.attendance-form {
  margin-top: 20px;
}

.attendance-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(206, 204, 204);
}

.date-input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #3E3E3E;
  color: #FFFFFF;
  margin-right: 10px;
}

.attendance-button {
  background-color: #429b45;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.attendance-button:hover {
  background-color: #58ab5d !important;
}

.heatmap-container {
  margin-top: 20px;
  overflow-x: auto;
}

.heatmap {
  width: 1000px;  /* Increased width for larger heatmap */
}

.color-github-1 {
  fill: #09c400e3 !important;  /* Dark green color for the heatmap */
  stroke-width: 1;
}

.color-empty {
  fill: #383838 !important;
    stroke: #656565 !important;
    stroke-width: .7 !important;
}

/* Responsive styling */
@media (max-width: 600px) {
  .app {
    padding: 10px;
  }

  .habit-card {
    padding: 15px;
  }

  .date-input {
    padding: 8px;
  }

  .attendance-button {
    padding: 8px 15px;
  }

  .react-calendar-heatmap {
    width: 600px;  /* Adjust width for smaller screens */
    overflow-x: scroll;
  }
}
